{% extends "base.html" %}
{% block conteudo %}
<div class="container py-5">
  <div class="col-md-6 mx-auto">
    <div class="card shadow-lg p-4">
      <h3 class="mb-4 text-center">💰 Depósito</h3>
      <form method="POST">
        <div class="mb-3">
          <label class="form-label">Valor</label>
          <input type="number" step="0.01" class="form-control" name="valor" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Confirmar Depósito</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
